<div class="body">

  <form action="">
    <img src="../../assets/img/veterinary-6819364_1920.png" alt="login" width="270px">
    <h1 class="tittle">Iniciar sesión</h1>
    <label for="">
      <fa-icon class="icon" [icon]="faUser"></fa-icon>
      <input [(ngModel)]="user.userName" type="text" id="userName" placeholder="Nombre de usuario" name="userName">
    </label>
    <label for="">
      <fa-icon class="icon" [icon]="faLock"></fa-icon>
      <input [(ngModel)]="user.password" type="password" id="password" placeholder="Contraseña" name="password">
    </label>
    <a href="#" class="link">¿Olvidaste tu contraseña?</a>
    <button (click)="login(user)" >Iniciar sesión</button>
  </form>

</div>
