<div class="container">
  <div class="actions">
    <div class="search">
      <form class="d-flex" role="search">
        <input class="form-control me-2" [(ngModel)]="txtSearch" type="search" placeholder="Buscar por nombre" aria-label="Search" name="txtSearch">
        <button class="btn btn-outline-success"><fa-icon class="icon" [icon]="faMagnifyingGlass" (click)="search()"></fa-icon></button>
        <button class="btn btn-outline-success" style="margin-left:5px ;" (click)="clean()"><fa-icon class="icon" [icon]="faBroom"></fa-icon></button>
      </form>
    </div>
    <div class="buttons">
    <button class="btn btn-outline-success" (click)="addOwner()"><fa-icon class="icon" [icon]="faPlus"></fa-icon>Añadir</button>
    </div>
  </div>

  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Tipo Id</th>
        <th scope="col">Numero Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">ciudad</th>
        <th scope="col">Direccion</th>
        <th scope="col">Telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let owner of owners">
        <td>{{owner.typeId}}</td>
        <td>{{owner.id}}</td>
        <td>{{owner.name}}</td>
        <td>{{owner.city}}</td>
        <td>{{owner.address}}</td>
        <td>{{owner.cellphone}}</td>

      </tr>
    </tbody>
  </table>
</div>
