<h1 class="text-center">{{titulo}}</h1>


<div class="card" style="width: 15rem;" *ngFor="let item of items">
  <img src={{item.img}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 style="text-align:center" class="card-title">{{item.tittle}}</h5>
    <p style="text-align:center" class="card-text">{{item.description}}</p>
    <p style="text-align:center" class="card-text">cop {{item.price}}</p>
    <div class="btn-group container">
      <a (click)="edit(item)" class="btn btn-primary">Edit</a>
      <a (click)="delete(item)" class="btn btn-danger">Delete</a>
    </div>
  </div>
</div>
